// animation rotate-180-r
@-webkit-keyframes rotate-180-r {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes rotate-180-r {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.rotate-180-r {
  -webkit-animation: rotate-180-r 0.4s;
  animation: rotate-180-r 0.4s;
}
// animation rotate-180-r


// animation fade-in-out
@-webkit-keyframes fade-in-out {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  100% {
    opacity:0
  }
}
@keyframes fade-in-out {
  0% {
    opacity:0
  }
  50% {
    opacity:1
  }
  100% {
    opacity:0
  }
}

.fade-in-out {
  -webkit-animation: fade-in-out 3s;
  animation: fade-in-out 3s;
}
// animation fade-in-out

