.modal-footer {
  .btn-outline-primary {
    color: $white-color;
    border: 1px solid $white-color;
  }
  .btn-primary {
    background-color: $white-color;
    color: $secondary-color;
    border: 1px solid $white-color;
  }
}