@font-face {
  font-family: "Heebo";
  src: url("/src/assets/fonts/Heebo/static/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("/src/assets/fonts/Heebo/static/Heebo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Heebo";
  src: url("/src/assets/fonts/Heebo/static/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-Regular.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-Regular.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-Regular.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-Regular.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-Regular.svg#Klavika") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-RegularItalic.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-RegularItalic.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-RegularItalic.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-RegularItalic.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-RegularItalic.svg#Klavika") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-light.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-Light.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-Light.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-Light.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-Light.svg#Klavika") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-LightItalic.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-LightItalic.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-LightItalic.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-LightItalic.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-LightItalic.svg#Klavika") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-Medium.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-Medium.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-Medium.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-Medium.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-Medium.svg#Klavika") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-MediumItalic.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-MediumItalic.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-MediumItalic.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-MediumItalic.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-MediumItalic.svg#Klavika") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-Bold.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-Bold.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-Bold.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-Bold.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-Bold.svg#Klavika") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Klavika";
  src: url("/src/assets/fonts/fonts/Klavika-BoldItalic.eot") format("embedded-opentype"), url("/src/assets/fonts/fonts/Klavika-BoldItalic.otf") format("opentype"), url("/src/assets/fonts/fonts/Klavika-BoldItalic.ttf") format("truetype"), url("/src/assets/fonts/fonts/Klavika-BoldItalic.woff") format("woff"), url("/src/assets/fonts/fonts/Klavika-BoldItalic.svg#Klavika") format("svg");
  font-weight: 700;
  font-style: italic;
}
/*++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++*/
.font-light {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.font-regular {
  font-family: "Klavika", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.font-medium {
  font-family: "Klavika", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.font-bold {
  font-family: "Klavika", sans-serif;
  font-style: normal;
  font-weight: 700;
}

/*+++*/
.font-light-italic {
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-weight: 300;
}

.font-regular-italic {
  font-family: "Klavika", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.font-medium-italic {
  font-family: "Klavika", sans-serif;
  font-style: italic;
  font-weight: 500;
}

.font-bold-italic {
  font-family: "Klavika", sans-serif;
  font-style: italic;
  font-weight: 700;
}

/*# sourceMappingURL=fonts.css.map */
