@font-face {
  font-family: Heebo;
  src: url('~@/assets/fonts/Heebo/static/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  src: url('~@/assets/fonts/Heebo/static/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Heebo;
  src: url('~@/assets/fonts/Heebo/static/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal
}


@font-face {
  font-family: Ubuntu;
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Ubuntu;
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Ubuntu;
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal
}

%heebo-light {
  font-family: Heebo, sans-serif;
  font-style: normal;
  font-weight: 300;
}

%heebo-medium {
   font-family: Heebo, sans-serif;
   font-style: normal;
   font-weight: 500;
}

%heebo-bold {
  font-family: Heebo, sans-serif;
  font-style: normal;
  font-weight: 700;
}

%ubuntu-light {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 300;
}

%ubuntu-medium {
   font-family: Ubuntu, sans-serif;
   font-style: normal;
   font-weight: 500;
 }

%ubuntu-bold {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 700;
}