h1 {
  &.huge-title {
    @extend %ubuntu-light;
    font-size: 50px;
  }

  &.middle-title {
    @extend %ubuntu-light;
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}