@import "input";
@import "select";
@import "radio";

.form-group {
  &.custom {
    margin-bottom: 10px;

    & label {
      padding: 6px 0 6px 14px;
      text-align: left;
      margin: 0;

      @extend %heebo-medium
    }
  }
}