textarea {
  &.custom {
    border-radius: 10px;

    &.form-control {
      border: 2px solid $secondary-color;
    }

    &.error {
      border: 2px solid $error-color;
    }
  }

  font-weight: 300;
  border: unset;

  &::placeholder {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 300;

    color: darkgray;
  }
}

