@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin respond($breakpoint) {
  @if($breakpoint == desktop)  {
    @media (min-width: 992px) { @content }
  }
  @if($breakpoint == medium)  {
    @media (max-width: 900px) { @content }
  }
  @if($breakpoint == small)  {
    @media (max-width: 600px) { @content }
  }
  @if($breakpoint == "<381")  {
    @media (max-width: 381px) { @content }
  }
}